In [1]:
import pandas as pd
from sqlalchemy.engine import create_engine

In [2]:
engine = create_engine('postgresql+psycopg2://gsilver1:nej123@d0pconcourse001/covid-19')

In [16]:
data_directory = '/mnt/DataResearch/gsilver1/output/'

In [10]:
df = pd.read_csv(data_directory + 'analytical_fairview_cui.csv')

In [13]:
df = df[['cui','concept']].dropna()
df = df.applymap(lambda x: x.strip() if type(x)==str else x)

In [14]:
df.drop_duplicates()

             cui                            concept
493     C0007859                          Neck Pain
494     C0029408         Degenerative polyarthritis
495     C0220825                         Evaluation
496     C0349790             Exacerbation of asthma
497     C0242936                       Pain Clinics
...          ...                                ...
431115  C0489807  Cardiac pacemaker prosthetic lead
431134  C0027868             Neuromuscular Diseases
431186  C0282638             Antibiotic Prophylaxis
431250  C0021186                         Indapamide
431373  C0748120       pulmonary edema interstitial

[13395 rows x 2 columns]

In [15]:
df.to_sql("umls_cui_concept", engine)

In [20]:
test = pd.read_csv(data_directory + 'test_dedup.csv')

In [35]:
test_concepts = df.merge(test, how = 'inner', on='cui')
#test_concepts

In [49]:
test_concepts['pat_id'] = test_concepts['case'].str.split(pat = '_', n=1, expand=True)
test_concepts

,cui,concept,Unnamed: 0,index,case,length,pat_id
0,C0007859,Neck Pain,38381,41052,1380198_1748413214,11,1380198
1,C0007859,Neck Pain,15526,38526,1549312_1727250578,9,1549312
2,C0007859,Neck Pain,45457,41985,3588783_1720809095,11,3588783
3,C0007859,Neck Pain,8628,5871,4150695_1748475320,9,4150695
4,C0007859,Neck Pain,41998,49919,4746357_1749141989,9,4746357
...,...,...,...,...,...,...,...
7257745,C0425488,Rapid shallow breathing,50690,52465,1110079_1726296922,4,1110079
7257746,C0151744,Myocardial Ischemia,50750,52287,1110079_1726296922,22,1110079
7257747,C0741281,atrial fibrillation new onset,50881,52412,1110079_1726296922,29,1110079
7257748,C0027868,Neuromuscular Diseases,35094,52567,1998470_1715496003,22,1998470
7257749,C0748120,pulmonary edema interstitial,35135,52490,1998470_1715496003,28,1998470

In [57]:
test_concepts = test_concepts[['cui', 'concept', 'pat_id']].drop_duplicates(['cui', 'concept', 'pat_id'])
test_concepts.to_csv('/mnt/DataResearch/DataStageData/note_test/output/patient_signs_and_symptoms.csv')

In [54]:
test_concepts.groupby('concept').count()

                                cui  Unnamed: 0  index  case  length  pat_id
concept
0 days                            1           1      1     1       1       1
1 time                           25          25     25    25      25      25
1-2                              54          54     54    54      54      54
1-2 drinks                        1           1      1     1       1       1
1-2 years                         1           1      1     1       1       1
...                             ...         ...    ...   ...     ...     ...
underlying infection              6           6      6     6       6       6
unresponsive behavior            50          50     50    50      50      50
ventilation mode                  3           3      3     3       3       3
volume depletion intravascular    1           1      1     1       1       1
work related                      3           3      3     3       3       3

[2071 rows x 6 columns]

In [62]:
file = 'CV_PATIENT_ED_PROVIDER_NOTES_TESTING.txt'
data_directory = '/mnt/DataResearch/DataStageData/note_test/'

In [63]:
df = pd.read_csv(data_directory + file, dtype=str, engine='python', sep="~\|~")

In [79]:
len(df)
df.columns
print(df['NOTE_TEXT'][0:1])

0      EMERGENCY DEPARTMENT NOTE     Name: Mee Vang...
Name: NOTE_TEXT, dtype: object

In [78]:
df.groupby('UPD_AUT_LOCAL_DTTM').count()

,SOURCE_SYSTEM,PAT_ID,MDM_LINK_ID,PAT_ENC_CSN_ID,CONTACT_DATE,ENC_TYPE,NOTE_ID,NOTE_TYPE,NOTE_STATUS,PROV_NAME,PROV_TYPE,NOTE_TEXT
UPD_AUT_LOCAL_DTTM,,,,,,,,,,,,
2020-03-02 00:21:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-03-02 12:50:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-03-02 13:50:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-03-02 15:56:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-03-02 23:00:00,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-03 06:20:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-06-03 08:55:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-06-03 16:07:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-06-03 18:32:00,1,1,1,1,1,1,1,1,1,1,1,1
2020-06-04 23:57:00,1,1,1,1,1,1,1,1,1,1,1,1